/* Place CSS styles here */

.logo {
    width: 65px;
    padding: 10px;
    /* justify-content: center; (doesn't work, need to use on flexboxes or div containers) */
}

.deadpoolHeader {
    background-color: cornsilk;
    padding: 6px;
    border: 1px solid black;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.signupRedirect {
    background-color: aliceblue;
    padding-left: 6px;
    padding-bottom: 17px;
    border: 1px solid black;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#fname{
      margin-bottom: 10px;  
}
